body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

nav {
  width: 100 %;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: white;
}

section {
  padding: 60px 40px;
}

button {
  background: #646cff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #535bf2;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  background: white;
  color: #111;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

li button {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}