body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

nav {
  width: 100 %;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: white;
}

section {
  padding: 60px 40px;
}


